/.vs
zettelkanvas/bin/
/zettelkanvas/obj
ZKTest/.obsidian/core-plugins-migration.json
ZKTest/.obsidian/appearance.json
ZKTest/.obsidian/app.json
ZKTest/.obsidian/workspace.json
ZKTest/.obsidian/core-plugins.json
