/.vs
/zettelkanvas/obj
/zettelkanvas/bin/Debug/net8.0/.obsidian

zettelkanvas/bin/Debug/net8.0/zettelkanvas.deps.json
zettelkanvas/bin/Debug/net8.0/zettelkanvas.dll
zettelkanvas/bin/Debug/net8.0/zettelkanvas.exe
zettelkanvas/bin/Debug/net8.0/zettelkanvas.pdb
zettelkanvas/bin/Debug/net8.0/zettelkanvas.runtimeconfig.json

zettelkanvas/bin/Debug/net8.0/testdir/zettelkanvas.canvas

/zettelkanvas/bin/Release
