// Delete this file to reset config
// Canvas parameters:
node_width : 400
node_height : 500
node_distance : 150
use_long_arrangement : 0
allow_inverse_arrangement : 1
link_auto_alias : 1
// Arrows: 0 - none, 1 - forward, 2 - reverse, 3 - two-sided 
default_edge_arrow : 1
default_tree_link_arrow : 0
default_outer_link_arrow : 3
// Color constants: 
@default_edge_color : -
@default_tree_link_color : 2
@default_outer_link_color : #0b2ca1
@default_node_color : 4
